{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block title %} Skywheelers - Veranstaltungen {% endblock %}

{% block content %}
<section>
    <!-- Titel -->
    <div class="container">
        <div class="row py-5 text-center">
            <div class="col">
                <h1>Unsere Veranstaltungen</h1>
            </div>
        </div>
    </div>
    
    <!-- Events -->
    <div class="container">
        <div class="row">
            <div class="col-4 p-0 mb-5">
                <div class="mx-3 border">
                    <div class="events-img d-flex justify-content-center align-items-center border"
                        style="width: 100%; height: 200px;">
                        <h1>BILD</h1>
                    </div>
                    <div class="events-info orange-bg p-3">
                        <h3>Events Information</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsum iure beatae
                            distinctio temporibus ad? Quaerat deleniti voluptate earum rem.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 p-0 mb-5">
                <div class="mx-3 border">
                    <div class="events-img d-flex justify-content-center align-items-center border"
                        style="width: 100%; height: 200px;">
                        <h1>BILD</h1>
                    </div>
                    <div class="events-info orange-bg p-3">
                        <h3>Events Information</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsum iure beatae
                            distinctio temporibus ad? Quaerat deleniti voluptate earum rem.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 p-0 mb-5">
                <div class="mx-3 border">
                    <div class="events-img d-flex justify-content-center align-items-center border"
                        style="width: 100%; height: 200px;">
                        <h1>BILD</h1>
                    </div>
                    <div class="events-info orange-bg p-3">
                        <h3>Events Information</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsum iure beatae
                            distinctio temporibus ad? Quaerat deleniti voluptate earum rem.</p>
                    </div>
                </div>
            </div>

            <div class="col-4 p-0 mb-5">
                <div class="mx-3 border">
                    <div class="events-img d-flex justify-content-center align-items-center border"
                        style="width: 100%; height: 200px;">
                        <h1>BILD</h1>
                    </div>
                    <div class="events-info orange-bg p-3">
                        <h3>Events Information</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsum iure beatae
                            distinctio temporibus ad? Quaerat deleniti voluptate earum rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 p-0 mb-5">
                <div class="mx-3 border">
                    <div class="events-img d-flex justify-content-center align-items-center border"
                        style="width: 100%; height: 200px;">
                        <h1>BILD</h1>
                    </div>
                    <div class="events-info orange-bg p-3">
                        <h3>Events Information</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsum iure beatae
                            distinctio temporibus ad? Quaerat deleniti voluptate earum rem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}