{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h1 class="logo-font mb-4">Zweite Mannschaft Gallerie Management</h1>
                <h5 class="text-muted">Fügen Sie ein Bild hinzu</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form class="form mb-2" action="{% url 'add_img_second_gallery' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a href="{% url 'second_gallery' %}" class="btn btn-outline-warning rounded-0">Abbrechen</a>
                        <button class="btn btn-outline-primary rounded-0" type="submit">Hinzufügen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}