{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">{% endblock %}

{% block title %}Gallerie der ersten Mannschaft{% endblock %}

{% block content %}
<section class="gallery-section-1">
    <div class="container-fluid">
        {% for title in gallery3_page_title %}
        <div class="row">
            <div class="col-12 text-center p-0">
                <div class="gallery-banner"
                    style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), 
                    rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)), url('{{ title.page_image.url }}');">
                    <h1>{{title.page_title }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        {% for image in third_gallery_pic %}
        <div class="row">
            {% if image.image_column_1 %}
            <div class="col-12 col-sm-6 col-md-3 mt-5">
                <a href="{{ image.image_column_1.url }}">
                    <div class="gallery-game-pic" 
                        style="width: 100%; height: 200px; background-position: center; background-size: cover; 
                        background-repeat: no-repeat; background-image: url('{{ image.image_column_1.url }}');">
                    </div>
                </a>
            </div>
            {% endif %}
            {% if image.image_column_2 %}
            <div class="col-12 col-sm-6 col-md-3 mt-5">
                <a href="{{ image.image_column_2.url }}">
                    <div class="gallery-game-pic" 
                        style="width: 100%; height: 200px; background-position: center; background-size: cover; 
                        background-repeat: no-repeat; background-image: url('{{ image.image_column_2.url }}');">
                    </div>
                </a>
            </div>
            {% endif %}
            {% if image.image_column_3 %}
            <div class="col-12 col-sm-6 col-md-3 mt-5">
                <a href="{{ image.image_column_3.url }}">
                    <div class="gallery-game-pic" 
                        style="width: 100%; height: 200px; background-position: center; background-size: cover; 
                        background-repeat: no-repeat; background-image: url('{{ image.image_column_3.url }}');">
                    </div>
                </a>
            </div>
            {% endif %}
            {% if image.image_column_4 %}
            <div class="col-12 col-sm-6 col-md-3 mt-5">
                <a href="{{ image.image_column_4.url }}">
                    <div class="gallery-game-pic" 
                        style="width: 100%; height: 200px; background-position: center; background-size: cover; 
                        background-repeat: no-repeat; background-image: url('{{ image.image_column_4.url }}');">
                    </div>
                </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}