{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'gallery/gallery.css' %}">{% endblock %}

{% block title %}Skywheelers | Gallerie{% endblock %}

{% block content %}
{% for main_gallery_info in main_gallery %}
<section class="gallery-section-1">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ main_gallery_info.page_title}}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gallery">
            <div class="col-12">
                <a href="{% url 'first_gallery' %}" class="no-underline">
                    <div class="liga-link-box">
                        <div class="liga-box-picture"
                            style="idth: 100%; height: 300px; background-position: center; background-size: contain; background-repeat: no-repeat; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1)), url('{{ main_gallery_info.image1.url }}')">
                            <h2>{{ main_gallery_info.heading1 }}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row gallery">
            <div class="col-12">
                <a href="{% url 'second_gallery' %}" class="no-underline">
                    <div class="liga-link-box">
                        <div class="liga-box-picture"
                            style="width: 100%; height: 300px; background-position: center; background-size: contain; background-repeat: no-repeat; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1)), url('{{ main_gallery_info.image2.url }}')">
                            <h2>{{ main_gallery_info.heading2 }}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row gallery">
            <div class="col-12">
                <a href="{% url 'third_gallery' %}" class="no-underline">
                    <div class="liga-link-box">
                        <div class="liga-box-picture"
                            style="width: 100%; height: 400px; background-position: center; background-size: cover; background-repeat: no-repeat; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1)), url('{{ main_gallery_info.image3.url }}')">
                            <h2>{{ main_gallery_info.heading3 }}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}