{% extends 'base.html' %}

{% block title %}ING Skywheelers - {{ article.heading }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            {% if article.image %}
            <div style="width: 100%; height: 65vh; margin-left: auto; margin-right:auto; background-image: url('{{ article.image.url }}'); 
                background-position: center; background-repeat: no-repeat; background-size: contain;">
            </div>
            {% else %}
            <img style="width: 100%; height: 65vh; object-fit: contain;" src="{{ MEDIA_URL }}skywheelers-logo_or.jpeg" alt="{{ article.heading }}">
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h1>{{ article.heading }}</h1>
            <h2>{{ article.second_heading }}</h2>
            <h4>{{ article.time_and_date_published.date }}</h4>
            <p>{{ article.paragraph1 }}</p>
            <p>{{ article.paragraph2 }}</p>
            <p>{{ article.paragraph3 }}</p>
            <p>{{ article.paragraph4 }}</p>
            <p>{{ article.paragraph5 }}</p>
            <p>{{ article.paragraph6 }}</p>
            <p>{{ article.paragraph7 }}</p>
            <p>{{ article.paragraph8 }}</p>
            <p>{{ article.paragraph9 }}</p>
            <p>{{ article.paragraph10 }}</p>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_article' article.id %}">Bearbeiten</a> | 
                <a class="text-danger" href="{% url 'delete_article' article.id %}">Löschen</a>
            </small>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}