{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'news/news.css' %}">
{% endblock %}

{% block title %}Skywheelers - Nachrichten{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term != 'None_None' %}
                        <span class="small"><a href="{% url 'news_page' %}">Nachrichten</a></span>
                    {% endif %}
                    {% if search_term %} | {{ main_news_info|length }} News Artikel wurden insgesammt für
                        <strong>"{{ search_term }}"</strong> gefunden
                    {% endif %}
                </p>
            </div>
            
            {% if request.user.is_superuser %}
            <div class="col-12 mt-3 text-center">
                <h1>Pressemitteilungen</h1>
            </div>
            <div class="col-12 d-flex justify-content-center text-center mt-3 mb-5">
                <a href="{% url 'add_article' %}" class="btn btn-outline-warning rounded-0">+ Neue Pressemitteilung hinzufügen</a>
            </div>
            {% else %}
            <div class="col-12 my-5 text-center">
                <h1>Pressemitteilungen</h1>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="d-block d-md-none col-12 py-3 mb-5 news-year-list-wrap text-center">
                <h2>Jahre</h2>
                <ul class="p-0">
                    {% for year in yearsList %}
                        <li class="news-year-list">{{ year }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-10">
                <div class="row">
                    {% for news_i in main_news_info %}
                    {% if news_i.time_and_date_published.year == currentYear and searched == False %}
                    <div class="col-12 col-md-6 mb-5">
                        <a class="anchor-underline" href="{% url 'article_content' news_i.id %}">
                            {% if news_i.image %}
                                <div style="width: 100%; height: 40vh; color: #fff; 
                                    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('{{ news_i.image.url }}'); 
                                    background-position: center; background-size: cover; background-repeat: no-repeat;"
                                    class="news-hover-effect d-flex flex-column justify-content-center align-content-center text-center">
                                    <h2>{{ news_i.heading }}</h2>
                                    <h4>{{ news_i.time_and_date_published }}</h4>
                                </div>
                            {% else %}
                                <div style="width: 100%; height: 40vh; color: #fff; 
                                background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('{{ MEDIA_URL }}noimage.png'); 
                                background-position: center; background-size: cover; background-repeat: no-repeat;"
                                class="news-hover-effect d-flex flex-column justify-content-center align-content-center text-center">
                                    <h2>{{ news_i.heading }}</h2>
                                    <h4>{{ news_i.time_and_date_published }}</h4>
                                </div>
                            {% endif %}
                        </a>
                        {% if request.user.is_superuser %}
                            <small>
                                <a href="{% url 'edit_article' news_i.id %}">Bearbeiten</a> | 
                                <a class="text-danger" href="{% url 'delete_article' news_i.id %}">Löschen</a>
                            </small>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if searched == True %}
                    {% for news_i in main_news_info %}
                    <div class="col-12 col-md-6 mb-5">
                        <a class="anchor-underline" href="{% url 'article_content' news_i.id %}">
                            {% if news_i.image %}
                                <div style="width: 100%; height: 40vh; color: #fff; 
                                background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('{{ news_i.image.url }}'); 
                                background-position: center; background-size: cover; background-repeat: no-repeat;"
                                class="news-hover-effect d-flex flex-column 
                                justify-content-center align-content-center text-center">
                                    <h2>{{ news_i.heading }}</h2>
                                    <h4>{{ news_i.time_and_date_published }}</h4>
                                </div>
                            {% else %}
                                <div style="width: 100%; height: 40vh; color: #fff; 
                                background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('{{ MEDIA_URL }}noimage.png'); 
                                background-position: center; background-size: cover; background-repeat: no-repeat;"
                                class="news-hover-effect d-flex flex-column justify-content-center align-content-center text-center">
                                    <h2>{{ news_i.heading }}</h2>
                                    <h4>{{ news_i.time_and_date_published }}</h4>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="d-md-block d-none col-md-2 py-3 mb-5 news-year-list-wrap text-center">
                <h2>Jahre</h2>
                <ul class="p-0">
                    {% for year in yearsList %}
                        <li class="news-year-list">{{ year }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block bottom_js %}
<script>
    $(document).ready(function () {
        $("li.news-year-list").on("click", function () {
            let selected = $(this);
            let currentURL = new URL(window.location);

            let selectedValue = selected.text();
            console.log(selectedValue);
            if (selectedValue > 2019) {
                currentURL.searchParams.delete("q");
                currentURL.searchParams.set("selectedNewsYear", selectedValue);
                window.location.replace(currentURL);

            } else {
                currentURL.searchParams.delete("selectedNewsYear");
                window.location.replace(currentURL);
            }
            $(this).addClass("clicked-year");
            console.log(this)
            $("li.news-year-list").not(this).removeClass("clicked-year")
        });
       
    });
</script>
{% endblock %}