{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'news/news.css' %}">
{% endblock %}

{% block title %}Skywheelers - Nachrichten{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-5 text-center">
                <h1>Pressemitteilungen</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="d-block d-md-none col-12 py-3 mb-5 news-year-list-wrap text-center">
                <h2>Jahre</h2>
                <ul class="p-0">
                    {% for year in yearsList %}
                    <li class="news-year-list">{{ year }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-10">
                <div class="row">
                    {% for news_i in main_news_info %}
                    {% if news_i.time_and_date_published.year == currentYear and searched == False %}
                    <div class="col-12 col-md-6 mb-5">
                        <a class="anchor-underline" href="{% url 'article_content' news_i.id %}">
                            <div style="width: 100%; height: 60vh; color: #fff; background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('{{ news_i.image.url }}'); background-position: center; background-size: cover; background-repeat: no-repeat;"
                                class="news-hover-effect d-flex flex-column justify-content-center align-content-center text-center">
                                <h2>{{ news_i.heading }}</h2>
                                <h4>{{ news_i.time_and_date_published }}</h4>
                            </div>
                        </a>
                    </div>
                    {% elif searched == True %}
                    {% for news_i in main_news_info %}
                    <div class="col-12 col-md-6 mb-5">
                        <a class="anchor-underline" href="{% url 'article_content' news_i.id %}">
                            <div style="width: 100%; height: 60vh; color: #fff; background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('{{ news_i.image.url }}'); background-position: center; background-size: cover; background-repeat: no-repeat;"
                                class="news-hover-effect d-flex flex-column justify-content-center align-content-center text-center">
                                <h2>{{ news_i.heading }}</h2>
                                <h4>{{ news_i.time_and_date_published }}</h4>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="d-md-block d-none col-md-2 py-3 mb-5 news-year-list-wrap text-center">
                <h2>Jahre</h2>
                <ul class="p-0">
                    {% for year in yearsList %}
                    <li class="news-year-list">{{ year }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block bottom_js %}
<script>
    $(document).ready(function () {
        $("li.news-year-list").on("click", function () {
            let selected = $(this);
            let currentURL = new URL(window.location);

            let selectedValue = selected.text();
            console.log(selectedValue);
            if (selectedValue > 2019) {
                currentURL.searchParams.delete("q");
                currentURL.searchParams.set("selectedNewsYear", selectedValue);
                window.location.replace(currentURL);

            } else {
                currentURL.searchParams.delete("selectedNewsYear");
                window.location.replace(currentURL);
            }
            $(this).addClass("clicked-year");
            console.log(this)
            $("li.news-year-list").not(this).removeClass("clicked-year")
        });
    });
</script>
{% endblock %}