{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{% block title %}Skywheelers - Über Uns{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            {% for banner in banner_image %}
            <div id="aboutCoverPic"
                style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.4)), url('{{ banner.image.url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%, height: 100%">
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="aboutSection2">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <table cellpadding="20" style="margin: 0;">
                    <tr class="text-center">
                        <th colspan="5">
                            <h2>Die Spielhalle</h2>
                        </th>
                    </tr>
                    {% for info in table_info %}
                    <tr class="text-center">
                        <td class="font-weight-500 aboutP-standard-cell" colspan="3">{{ info.descriptor }}:</td>
                        <td class="font-weight-500 aboutP-standard-cell" colspan="3">{{ info.description}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>

<section id="aboutSection3" class="orange-BG">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="heading-margin-bottom">Die Geschichte der Skywheelers</h2>
                <p>
                    Mainhatten Skywheelers die Rollstuhlbasketballmannschaften aus Frankfurt am Main, deren
                    Trägerverein der RSC Frankfurt ist. Die 1. Mannschaft spielte bis zur Saison 2015/2016 in der 1.
                    Rollstuhlbasketball-Bundesliga (RBBL) und wurde dreimal Deutscher Meister. Mit der Saison
                    2016/17 kam jedoch der Abstieg in die 2. Rollstuhlbasketballbundesliga Süd, nachdem wegen der
                    Flüchtlingskrise 2015 kurzfristig die Heimspielstätte geräumt werden musste, um als
                    Notunterkunft zu fungieren. In dieser Zeit war nur ein provisorischer Spiel- und
                    Trainingsbetrieb möglich, da dieser auf verschiedene mehr oder weniger behindertengerechte
                    Hallen im Stadtgebiet verteilt wurde, was die Planungen erschwerte und der Verlust von
                    Zuschauern und Sponsoren nach sich zog. Die Folge war der sportliche Abstieg.
                </p>
                <p>
                    Seit der Saison 2017/18 jedoch sind die Mainhatten Skywheelers zurück in der Sporthalle der
                    Franz-Böhm-Schule auch als Skywheelers Dome bekannt. Da mit dem Abstieg auch der Verlust einiger
                    wichtiger Spieler folgte und kein Ersatz in Aussicht war, kam die Idee einer Spielerkooperation
                    mit der 2. Mannschaft des RSV Lahn-Dill aus Wetzlar auf. So nannten sich die Mainhatten
                    Skywheelers kurzfristig um in die Kooperationsmannschaft „Lahn-Dill Skywheelers“. Mit dem durch
                    den RSV verstärkten Spielerpool und dem neuen Trainer David Amend konnten die Skywheelers in die
                    Erfolgsspur zurückfinden und waren schon in der Saison 2017/18 Aufstiegsaspirant in die 1.
                    Bundesliga. Ein zu kleines finanzielles Budget war jedoch hauptsächlich der Grund, weshalb der
                    Aufstieg nicht wahrgenommen wurde, da neue starke Sponsoren noch nicht in Aussicht waren. Auch
                    die Saison 2018/19 wurde mit dem Meistertitel der 2. RBBL Süd gekrönt, jedoch hat Trainer David
                    Amend danach seine Karriere bei den Skywheelers beendet.
                </p>
                <p>
                    Auch die Kooperation mit dem RSV Lahn-Dill wurde in gegenseitigem Einvernehmen beendet und als
                    voller Erfolg gefeiert. Ab der Saison 2019/20 fungieren die Frankfurter Rollstuhlbasketballer
                    nun wieder unter alten Namen, den „Mainhatten Skywheelers“.
                </p>
                <p>
                    Die 2. Mannschaft, auch bekannt als „Mainhatten Skywheelers Youngsters“, dient, wie der Name es
                    bereits sagt, der Nachwuchsgewinnung. Hier nahmen schon bekannte Größen im internationalen
                    Rollstuhlbasketball ihren Anfang. Spieler wie Nationalspieler Nico Dreimüller und Christopher
                    Huber haben hier ihre ersten Trainingseinheiten absolviert. Auch eigene Spieler der ersten
                    Mannschaft, wie Sven und Tim Diedrich oder Christoph Spitz waren hier für die Youngsters schon
                    aufgelaufen, bevor sie sich dem Profisport widmeten. Die Youngsters sind in der Regionalliga
                    Mitte erfolgreich unterwegs und bieten aber auch Freizeitsportlern ein wöchentliches
                    Trainingsangebot.
                </p>
                <p>
                    Der Name „Mainhatten Skywheelers“ nimmt Bezug auf die Skyline Frankfurts, einzige Stadt
                    Deutschlands, deren City an das Erscheinungsbild von Manhattan erinnert. Statt der Vorsilbe
                    Man... wurde der durch Frankfurt fließende Main eingefügt. Darüber hinaus wurde der Name von der
                    Bezeichnung der Skyliners Frankfurt und den von den Mainhatten Skywheelers genutzten Rollstühlen
                    (engl. wheelchairs) abgeleitet.
                </p>
                <p>
                    Das eigens für die Mainhatten Skywheelers geschaffene Teamlogo zeigt vor der schwarzen Kulisse
                    der Frankfurter Skyline einen im Comic-Stil aggressiv figürlich gestalteten roten Basketball auf
                    silbernen Rollstuhl-Rädern mit einer auf den Betrachter weisenden Faust, darunter zweizeilig den
                    gerundeten Team-Namen.
                </p>
                <p>
                    Die Mannschaften der Mainhatten Skywheelers trainieren und spielen in der Turnhalle der
                    Franz-Böhm-Schule (Skywheelers-Dome), Eichendorffstraße 77, Einfahrt Raimundstraße 100
                    (zwischen Aldi-Supermarkt und Colorado Abenteuerspielplatz), 60320 Frankfurt am Main.
                </p>
                <p>
                    Im Oktober 2005 wurde der Förderverein Rollstuhlbasketball Rhein-Main gegründet, um Jugendliche
                    und Senioren dieser Sportart gezielt zu unterstützen, die Mitglieder des RSC Frankfurt sind.
                    Dabei geht es sowohl um den Rehabilitations- als auch den Breiten- und Leistungssport.
                </p>
                <p>
                    Für die Durchführung möglichst zielorientierter Fördermaßnahmen richtet der Förderverein sein
                    Augenmerk auf institutionelles und privates Sponsoring, wirbt gezielt Mitglieder für einen
                    Förderkreis und sucht für die Bundesligamannschaft des RSC Sponsoren und Werbepartner.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}