{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{% block title %}Skywheelers - Über Uns{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            {% for banner in banner_image %}
            <div id="aboutCoverPic"
                style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.4)), url('{{ banner.image.url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%;">
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="aboutSection2">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <table cellpadding="20" style="margin: 0;">
                    <tr class="text-center">
                        <th colspan="5">
                            <h2>Die Spielhalle</h2>
                        </th>
                    </tr>
                    {% for info in table_info %}
                    <tr class="text-center">
                        <td class="font-weight-500 aboutP-standard-cell" colspan="3">{{ info.descriptor }}:</td>
                        <td class="font-weight-500 aboutP-standard-cell" colspan="3">{{ info.description}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>

<section id="aboutSection3" class="orange-BG">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                {% for text in about_text_section %}
                <h2 class="heading-margin-bottom">{{ text.title }}</h2>
                <p>{{ text.paragraph1 }}</p>
                <p>{{ text.paragraph2 }}</p>
                <p>{{ text.paragraph3 }}</p>
                <p>{{ text.paragraph4 }}</p>
                <p>{{ text.paragraph5 }}</p>
                <p>{{ text.paragraph6 }}</p>
                <p>{{ text.paragraph7 }}</p>
                <p>{{ text.paragraph8 }}</p>
                <p>{{ text.paragraph9 }}</p>
                <p>{{ text.paragraph10 }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}