.cover-picture {
    padding: 0 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    filter: contrast(150%);
}

.white-text {
    color: #fff;
}

.table-header-BG {
    background-color: rgba(40, 167, 69, 1)
}

.standard-cell-BG {
    background-color: #ffffff;
}

.table-word-break {
    word-break: break-all;
}

@media (min-width: 576px) {
    .table-word-break {
        word-break: normal;
    }
}

.section-bottom-padding {
    padding-bottom: 175px;
}

.section-top-padding {
    padding-top: 175px;
}

.move-up-testimonial {
    margin-top: -190px;
    margin-bottom: -50px;
}

.move-down-testimonial {
    margin-bottom: -200px;
    margin-top: -50px;
}

.white-backgroung-colour {
    background-color: #fff;
}

.call-to-action-section {
    height: 70vh;
}