.cover-picture {
    padding: 0 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    filter: contrast(150%);
}

.white-text {
    color: #fff;
}

.black-text {
    color: #000;
}

.table-header-BG {
    color: white;
    background-color: #007fec;
    /* background-color: rgb(255 185 59); */
}

.standard-cell-BG {
    background-color: #fff;
}

.table-word-break {
    word-break: break-all;
}

@media (min-width: 576px) {
    .table-word-break {
        word-break: normal;
    }
}

.section-bottom-padding {
    padding-bottom: 175px;
}

.section-top-padding {
    padding-top: 175px;
}

.move-up-testimonial {
    margin-top: -190px;
    margin-bottom: -50px;
}

.move-down-testimonial {
    margin-bottom: -200px;
    margin-top: -50px;
}

.white-backgroung-colour {
    background-color: #fff;
}

.call-to-action-section {
    height: 70vh;
}

.news-box-homepage {
    background-attachment: fixed;
}

.overflow-scroll {
    overflow-x: scroll;
}
